<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for subscribing!</h1>
    <p>We will send you frequent updates on our newest arrvails. So keep an eye out and don't miss anything!</p>
  </body>
</html>