<p>
  <h1>Newsletter </h1>
  <%= form_tag url_for(send_email_home_index_path), :method => 'post', remote: true  do %>
    <h2>signup with our newsletter</h2>
    <%= email_field_tag 'visitor_email' %>
    <%= submit_tag 'Subscribe', class: "btn btn-lg btn-primary" %>
  <% end %>
</p>