<% provide(:title, "All collections") %>

<div id="collection-list-id">
    <% if !@all_products.nil? %>
      <%= render partial: 'collection_list', locals: {all_products: @all_products}  %>
    <% end %>
</div>

