<% provide(:title, "Help and Support") %>
<div class="center jumbotron">
<h1>Contact us</h1>
<p>
  Please contact us if you need help with our service!
</p>
<p> Feel free to <a href="mailto:s3714110@student.rmit.edu.au">email us</a>.</p>
</div>