<% provide(:title, "Home") %>

<div id="random-pic-id" class="random-pic-div ">

  <%= render partial: 'random_partial', locals: {random_product: @random_product}  %>

</div>


<div>
<p>
  <h1>Newsletter </h1>
  <%= form_tag url_for(send_email_home_index_path), :method => 'post'  do %>
    <h2>signup with our newsletter</h2>
    <%= email_field_tag 'visitor_email' %>
    <%= submit_tag 'Subscribe', class: "btn btn-lg btn-primary" %>
  <% end %>
</p>
</div>