<% provide(:title, "Home") %>

<div id="random-pic-id" class="random-pic-div ">

  <%= render partial: 'random_partial', locals: {random_product: @random_product}  %>

</div>

<div id="popular-products-id">
    <%= render partial: 'popular', locals: {popular_products: @popular_products}  %>
</div>

<div id="collection-id" class="collection-div ">
    <%= render partial: 'collection', locals: {categories: @categories} %>
</div>

<% if !logged_in? %>
<div id="send-email-id">
  <%= render partial: 'newsletter'  %>
</div>
<% end %>