<% provide(:title, "Saved List") %>

<div id="saved-list-id">
    <% if !@saved_products.nil? %>
      <%= render partial: 'saved_list', locals: {saved_products: @saved_products}  %>
    <% end %>
</div>

