<% provide(:title, "Search results") %>

<div class="search-div">
<%= form_tag url_for(search_path), :method => 'post'  do %>
          <%= search_field_tag :search_param, params[:search_param], id: 'search_param', placeholder: "Start searching...", :class => 'search-bar', onkeyup: "$(this).parent('form').submit();" %>
          <%= button_tag " Search", :class => 'btn btn-primary search-btn', :name => nil%>
<% end %>
</div>

<div id="collection-list-id">
    <% if !@all_products.nil? %>
      <%= render partial: 'search_results', locals: {all_products: @all_products}  %>
    <% end %>
</div>

