<header id="myMainnav" class="navbar mainnav">

  <div class="container-fluid">
    <div class="center">
      <h1><%= yield(:title) %></h1>
    </div>

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><a onclick="openNav()"><i class="fa fa-bars" > </i></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><i class="fa fa-shopping-bag" > </i></li>
        <li><i class="fa fa-search"> </i></li>
      </ul>

    </nav>
  </div>
</header>


  <header id="mySidenav" class="navbar sidebar">

    <div class="container-fluid cancle-icon">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><a onclick="closeNav()"><i class="fa fa-times" > </i></a></li>
        <li><%= link_to root_path do%><i class="fa fa-home"> </i><% end %></li>
      </ul>
    </nav>
    </div>

    <div class="container-fluid ">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><i class="fa fa-shopping-basket" > </i></li>
          <li><span>shop</span></li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid sidebar-main">
      <p>Men</p>
      <p>Women</p>
      <p>Kids</p>
      <p>New-ins</p>
    </div>

    <div class="container-fluid sidebar-main">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><i class="fa fa-heart" > </i></li>
          <li><span><%= link_to "Saved", saved_path %></span></li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid sidebar-main">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><i class="fa fa-info"></i></li>
          <li><span class="sidebar-help"><%= link_to "Help and support", help_path %></span></li>
        </ul>
      </nav>
    </div>



  </header>



