<header class="navbar ">

  <div class="container-fluid">
    <div class="center">
      <h1>Home</h1>
    </div>

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><i class="fa fa-bars" > </i></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><i class="fa fa-shopping-bag" > </i></li>
        <li><i class="fa fa-search"> </i></li>
      </ul>

    </nav>
  </div>
</header>